a {text-decoration: none;color: #15c}
.subject {color:#333}
.overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(250, 250, 250, 0.9);
   display: none;
}
.loading {
	opacity:0.7;
   background-image: url('/images/ajax-loader.gif');
   background-position: center center;
   background-repeat: no-repeat;
   background-size:34px;
}

.eom {margin-left:2px;font-size: x-small;color:#ccc;font-family: arial,sans-serif}

.button {-webkit-transition: opacity 150ms ease-out;vertical-align:top;border-radius:2px;border:1px solid rgba(0,0,0,.2);display:inline-block;margin:0 0px;padding:4px 12px;background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f3f3f3))}
.button:hover {xxborder:1px solid rgba(0,0,0,.5);opacity:1 !important;cursor:pointer}
.button:focus {border:1px solid #4d90fe;outline:none}
.button:hover > div:not(.opacityPatch) {opacity:1}
.button div {width:21px;height:21px;opacity:0.65;background-repeat:no-repeat}
.button div[msg] {font-weight:bold;line-height:21px;font-size:11px;font-family:arial,sans-serif;white-space:nowrap;width:auto;background-image:none}
#fullEmailActionButtons .button {padding:4px 9px}

.icon {display:inline-block;opacity:.55;width:21px;height:21px;background-image:url(/images/sprite_black2.png);background-repeat: no-repeat}
.icon:hover {opacity:1;cursor:pointer}

.speaker {background-image:url(/images/speaker.png);background-position: 0px 1px;background-size: 21px}
.speaker.muted {background-image:url(/images/speakerMuted.png)}

.backToInbox {padding:4px 16px !important}

.composeWrapper {position:relative;border-top:1px solid #eee}
.composeWrapper .composeRightWrapper {display:none;margin-top:8px}
.sendAndArchive {display:none;margin:2px 0 5px 0;padding:4px 6px}
.sendAndArchive div {width:90px;height:19px;line-height:20px}
.send {max-width:50px;height:18px;line-height:18px}
.send:focus {border:1px solid #ccc}
.send > div {width:auto}
.composeRightWrapper.showSendAndArchive .sendAndArchive {display:block}

.composeWrapper.clicked .clickHereToReply {display:none}
.composeWrapper.clicked .composeInput {width:74%}
.composeWrapper.clicked .composeRightWrapper {display:inline-block;vertical-align:top}
html.notif .composeWrapper.clicked .composeInput {width:60%}

.composeWrapper.sending .composeInput {opacity:0.5}
.composeWrapper.sending .send.sendingButton, .composeWrapper.sending .sendAndArchive.sendingButton {width:53px !important}
.composeWrapper.sending .send div, .composeWrapper.sending .sendAndArchive div {opacity:0.65}

.composeWrapper.sendingComplete .composeInput {border:1px solid transparent}
.composeWrapper.sendingComplete .composeRightWrapper {display:none}
.composeWrapper.sendingComplete .sentMessage {display:block}

.composeInput {padding:5px;width:94%;height:50px;border:1px solid #bbb;margin:10px;font-family: arial;font-size: 13px;}
html.notif .composeInput {width:85%}
.composeInput:focus {outline:none}

.clickHereToReply {position:absolute;left:16px;top:16px}
.replyToAllText {display:none}
.clickHereToReply, .replyToAllText {color:#999}
.composeAreaReply, .replyToAllLink {text-decoration:underline}
.composeAreaReply:hover, .replyToAllLink:hover {color:#15c;cursor:pointer}

.sentMessage {display:none;position:absolute;top:8px;left:46%;border-color: #f0c36d;background-color: #f9edbe;padding: 0 10px;border: 1px solid transparent;border-radius: 2px;-webkit-border-radius: 2px;-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);background: #f9edbe;border-color: #f9edbe;color: #222;font-weight: bold;text-align: center}

#inboxes .button {opacity:0.5}
#inboxes .button div[msg] {opacity:1}

.contactsLink {opacity:0.45}

html.buttonsoriginal .backToInbox div {background-image: url(/images/buttons/default/backToInbox.png)}
html.buttonsoriginal .sendPageLink {background-image: url(/images/buttons/default/link.png)}
html.buttonsoriginal .contactsLink {background-image: url(/images/buttons/default/contacts.png)}
html.buttonsoriginal .searchLink {background-image: url(/images/buttons/default/search.png)}
html.buttonsoriginal .delete div {background-image:url(/images/buttons/default/trash.png)}
html.buttonsoriginal .reply div {background-image:url(/images/buttons/default/reply.png)}
html.buttonsoriginal .open div {background-image:url(/images/buttons/default/open.png)}
html.buttonsoriginal .archive div {background-image:url(/images/buttons/default/archive.png)}
html.buttonsoriginal .inboxByGmail .archive div {background-image:url(/images/buttons/default/markDone.png)}
html.buttonsoriginal .spam div {background-image:url(/images/buttons/default/spam.png)}
html.buttonsoriginal .moveLabel div:first-child {background-image:url(/images/buttons/default/moveLabel.png)}
html.buttonsoriginal .labels div:first-child {background-image:url(/images/buttons/default/labels.png)}

html.buttonsgreen  #inboxes .button {opacity:0.9}
html.buttonsgreen  .button div {color:#088a08}

html.buttonsgreen .backToInbox div {background-image: url(/images/buttons/green/backToInbox.png);background-position: 0 -2px;width: 26px;background-size: 28px 23px;}
html.buttonsgreen .sendPageLink {background-image: url(/images/buttons/green/link.png)}
html.buttonsgreen .contactsLink {background-image: url(/images/buttons/green/contacts.png);background-size:22px}
html.buttonsgreen .searchLink {background-image: url(/images/buttons/green/search.png);background-size:15px;background-position: 2px 4px;}
html.buttonsgreen .delete div {background-image:url(/images/buttons/green/trash.png);background-size:19px}
html.buttonsgreen .reply div {background-image:url(/images/buttons/green/reply.png); background-size:20px; width: 24px;}
html.buttonsgreen .open div {background-image:url(/images/buttons/green/open.png);background-size: 18px 18px;background-position: 1px 1px}
html.buttonsgreen .archive div {background-image:url(/images/buttons/green/archive.png);background-size:18px;background-position: 1px 1px;}
html.buttonsgreen.notif .archive div {background-size:14px !important;background-position: 3px 1px} 
html.buttonsgreen .spam div {background-image:url(/images/buttons/green/spam.png);background-size:21px}
html.buttonsgreen .moveLabel div:first-child {background-image:url(/images/buttons/green/moveLabel.png);background-position: 1px -2px;background-size: 25px}
html.buttonsgreen .labels div:first-child {background-image:url(/images/buttons/green/labels.png);background-position: 1px 1px;background-size: 19px}

html.buttonsdark {-webkit-filter:invert(100%)}
html.buttonsdark img {-webkit-filter:invert(100%)}
html.buttonsdark #menu img {-webkit-filter:none}

html.buttonsdark .backToInbox div {background-image: url(/images/buttons/default/backToInbox.png)}
html.buttonsdark .sendPageLink {background-image: url(/images/buttons/default/link.png)}
html.buttonsdark .searchLink {background-image: url(/images/buttons/default/search.png)}
html.buttonsdark .contactsLink {background-image: url(/images/buttons/default/contacts.png)}
html.buttonsdark .delete div {background-image:url(/images/buttons/default/trash.png)}
html.buttonsdark .reply div {background-image:url(/images/buttons/default/reply.png)}
html.buttonsdark .open div {background-image:url(/images/buttons/default/open.png)}
html.buttonsdark .archive div {background-image:url(/images/buttons/default/archive.png)}
html.buttonsdark .spam div {background-image:url(/images/buttons/default/spam.png)}
html.buttonsdark .moveLabel div:first-child {background-image:url(/images/buttons/default/moveLabel.png)}
html.buttonsdark .labels div:first-child {background-image:url(/images/buttons/default/labels.png)}

html.buttonscustom  #inboxes .button {opacity:0.9}
html.buttonscustom  .button div {color:rgb(1, 158, 206)}

html.buttonscustom .backToInbox div {background-image: url(/images/buttons/custom/backToInbox.png)}
html.buttonscustom .sendPageLink {background-image: url(/images/buttons/custom/link.png)}
html.buttonscustom .contactsLink {background-image: url(/images/buttons/custom/contacts.png)}
html.buttonscustom .searchLink {background-image: url(/images/buttons/custom/search.png)}
html.buttonscustom .delete div {background-image:url(/images/buttons/custom/trash.png)}
html.buttonscustom .reply div {background-image:url(/images/buttons/custom/reply.png)}
html.buttonscustom .open div {background-image:url(/images/buttons/custom/open.png)}
html.buttonscustom .archive div {background-image:url(/images/buttons/custom/archive.png)}
html.buttonscustom .spam div {background-image:url(/images/buttons/custom/spam.png)}
html.buttonscustom .moveLabel div:first-child {background-image:url(/images/buttons/custom/moveLabel.png)}
html.buttonscustom .labels div:first-child {background-image:url(/images/buttons/custom/labels.png)}

/*
html.buttonscustom .backToInbox div {background-image: url(/images/buttons/default/backToInbox.png);background-position: 0 -2px;width: 26px;background-size: 28px 23px;}
html.buttonscustom .sendPageLink {background-image: url(/images/buttons/default/link.png)}
html.buttonscustom .contactsLink {background-image: url(/images/buttons/default/contacts.png)}
html.buttonscustom .searchLink {background-image: url(/images/buttons/default/search.png);background-size:15px;background-position: 2px 4px;}
html.buttonscustom .delete div {background-image:url(/images/buttons/default/trash.png);background-size: 21px 21px;background-position: 0px -1px}
html.buttonscustom .reply div {background-image:url(/images/buttons/default/reply.png);background-size: 21px 21px;background-position: 0px 0px}
html.buttonscustom .open div {background-image:url(/images/buttons/default/open.png);background-size: 18px 18px;background-position: 1px 1px}
html.buttonscustom .archive div {background-image:url(/images/buttons/default/archive.png);background-size: 21px;background-position: 0px 0px}
html.buttonscustom .spam div {background-image:url(/images/buttons/default/spam.png);background-size:21px}
html.buttonscustom .moveLabel div:first-child {background-image:url(/images/buttons/default/moveLabel.png);background-position: 1px -2px;background-size: 25px}
html.buttonscustom .labels div:first-child {background-image:url(/images/buttons/default/labels.png);background-position: 1px 1px;background-size: 19px}
*/

.markAsRead {padding:4px 11px}

.star {opacity:0.95;background-image:none;height:19px;width:18px;margin-bottom:-6px;background:url(/images/star4.png)}
.star:hover, .star.dark {opacity:1;background:url(/images/star-hover4.png)}
.star.active {opacity:1;background:url(/images/star-lit4.png)}

.hugRight {margin-right:-1px}

.dropdownArrow {height:21px;padding:4px 4px !important}
.dropdownArrow div {display:inline-block}
.dropdownArrow div:nth-child(2) {background-image:url(/images/sprite_black2.png);background-position:-42px -84px}