[Desktop Entry]
Name=Nylas N1
Comment=An extensible, open-source mail client built on the modern web.
GenericName=Nylas N1
Exec=/usr/share/nylas/nylas --background %U
Icon=nylas
Type=Application
StartupNotify=true
StartupWMClass=Nylas N1
Categories=GNOME;GTK;Network;Email;Utility;Development;
MimeType=text/plain;x-scheme-handler/mailto;x-scheme-handler/nylas;
