@font-face {
  font-family: "lato";
  font-weight: 400;
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 200;
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 100;
  src: url("/assets/fonts/Lato-Hairline.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 600;
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/Lato-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 100;
  font-style: italic;
  src: url("/assets/fonts/Lato-HairlineItalic.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/Lato-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 400;
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 200;
  src: url("/assets/fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 600;
  src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/OpenSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/OpenSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/OpenSans-BoldItalic.ttf") format("truetype"); }

a, a:link, a:active, a:visited, a:hover {
  color: inherit;
  text-decoration: none; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: white; }

.rounded-box {
  border: 1px solid #35495d;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #fff;
  padding: 10px 20px; }

.navbar {
  background-color: #ffffff; }
  .navbar .invis-rounded, .navbar .rounded {
    font-weight: 400;
    letter-spacing: 1px;
    color: #394d60; }
  .navbar .invis-rounded {
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    padding: 10px 10px; }
  .navbar .rounded {
    border: 1px solid #35495d;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #fff;
    padding: 10px 20px; }
  .navbar .non-rounded {
    border: 0;
    background-clip: padding-box;
    background-color: #fff;
    padding: 10px 20px; }

#logo {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #394d60;
  font-weight: bold;
  letter-spacing: 2px; }
  #logo span {
    font-weight: 300; }

#logo-anchor img {
  width: 30px;
  height: 30px; }

.uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.downward-box-shadow {
  box-shadow: 0px 5px 25px -9px rgba(0, 0, 0, 0.3); }
  @media (max-width: 767px) {
    .downward-box-shadow {
      box-shadow: none; } }

.index-jumbotron {
  box-shadow: none !important; }
  .index-jumbotron #gom-button-container, .index-jumbotron #gom-button-arrow-container, .index-jumbotron #gom-button-desc {
    text-align: center; }
  .index-jumbotron #gom-button-desc {
    padding-top: 10px; }
    .index-jumbotron #gom-button-desc h2 {
      color: #394d60;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px; }

.btn-faux-raised {
  background-color: #f39c12 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 8px !important;
  padding: 0 0 1px 0;
  font-size: 26px; }
  @media (max-width: 767px) {
    .btn-faux-raised {
      font-size: 18px; } }
  .btn-faux-raised .inner-btn {
    color: white !important;
    border-radius: 8px !important;
    background-color: #f1c40f !important;
    margin-bottom: 10px;
    padding: 20px 30px; }
    @media (max-width: 767px) {
      .btn-faux-raised .inner-btn {
        padding: 10px 15px;
        font-size: 14px; } }

.btn-green.btn {
  background-color: #16a085 !important; }
  .btn-green.btn .inner-btn {
    color: white !important;
    background-color: #1abc9c !important; }

.btn-gray.btn {
  background-color: #b0bcbc !important; }
  .btn-gray.btn .inner-btn {
    background-color: #efefef !important;
    color: #7f8c8d !important; }

.btn-small-font .inner-btn {
  font-size: 15px !important; }

.text-right {
  text-align: right; }

.btn-small .inner-btn {
  padding: 10px 20px !important;
  font-size: 18px; }

#gom-button-cta {
  padding: 15px 0 15px; }

#gom-button-container {
  padding-top: 50px; }

.index-guide-container {
  padding-top: 30px; }
  .index-guide-container h4 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-weight: bold;
    color: #394d60; }
    @media (max-width: 767px) {
      .index-guide-container h4 {
        border-bottom: 1px solid #d5d5d5; } }
  .index-guide-container h4.underline {
    border-bottom: 1px solid #d5d5d5; }
  .index-guide-container p.lead {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300; }

.guide-list-container {
  padding: 30px 0 50px; }
  .guide-list-container .badge {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 10px;
    position: relative;
    top: -3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; }

.guide-row:hover {
  background-color: #f9f9f8;
  border-radius: 8px; }

.guide-row {
  padding: 15px 0; }
  .guide-row .popularity-box {
    background-color: #efefef;
    border-radius: 8px;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 50px; }
  .guide-row .guide-title {
    margin-top: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #394d60;
    margin-bottom: 0;
    font-weight: bold; }
  .guide-row .guide-desc {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 400;
    color: #394d60;
    font-size: 13px; }
  .guide-row .guide-profile-pic {
    max-width: 40px;
    border-radius: 100%; }
  .guide-row .guide-profile-container {
    text-align: center;
    line-height: 50px; }
  .guide-row .guide-comment-count-container {
    margin: 0 auto;
    line-height: 50px; }
    .guide-row .guide-comment-count-container span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #a5a5a5;
      padding: 0 6px; }
    .guide-row .guide-comment-count-container img {
      margin-top: -8px; }

.btm-navi {
  margin-top: 10px; }
  .btm-navi a.btn {
    margin-right: 20px; }

footer {
  color: #111111; }
  footer .footer-col {
    padding: 50px 0 50px;
    text-align: center; }
    footer .footer-col h4 {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
      font-weight: 400; }
  footer a, footer a:hover {
    color: #111111;
    font-size: 12px;
    font-weight: 300; }

.guide-container {
  padding: 30px 0 50px; }
  .guide-container .guide-selector-box {
    width: 100%; }
    @media (max-width: 767px) {
      .guide-container .guide-selector-box {
        margin-top: 20px; } }
    .guide-container .guide-selector-box .guide-icon-container {
      text-align: center;
      line-height: 140px; }
    .guide-container .guide-selector-box .guide-icon {
      width: 80px; }
    .guide-container .guide-selector-box .guide-desc {
      padding-top: 18px;
      text-align: left;
      text-transform: none !important;
      white-space: normal; }
      .guide-container .guide-selector-box .guide-desc h3 {
        color: #394d60;
        font-size: 20px;
        font-weight: 300; }
      .guide-container .guide-selector-box .guide-desc p.lead {
        color: #394d60;
        font-size: 14px;
        font-weight: 400; }
  .guide-container .guide-selector-box.btn {
    margin: 0;
    padding: 0; }
  .guide-container .guide-selector-box-selected {
    background-color: #f9f9f9; }

.hidden {
  display: none; }

.page-desc {
  margin-top: 70px;
  margin-bottom: 60px; }
  .page-desc h2 {
    font-size: 24px;
    color: #394d60;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  .page-desc p.lead {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }

.parsley-errors-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }
  .parsley-errors-list li {
    font-size: 13px;
    font-weight: bold;
    color: #e67e22;
    margin: 5px 0; }

.parsley-errors-list.filled {
  display: block; }

.search-box {
  margin-top: 60px;
  padding: 25px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #7c7c7c;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  font-size: 32px; }
  .search-box input {
    color: #394d60;
    width: 250px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 8px; }
  .search-box span {
    line-height: 80px; }
  .search-box #go {
    margin-left: 30px; }
  .search-box #search-site {
    width: 180px; }
  .search-box .parsley-errors-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 0; }
    .search-box .parsley-errors-list li {
      font-size: 13px;
      font-weight: bold;
      color: #e67e22;
      margin: 5px 0; }
  .search-box .parsley-errors-list.filled {
    display: block; }

.well {
  background-color: #ecf0f1 !important; }

.after-search-box {
  margin-top: 60px; }

.page-header-desc {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #394d60;
  text-align: center;
  margin: 50px 0 50px; }

.price-container {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #394d60;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.25); }

.price-container.small {
  padding: 35px 0 0;
  height: 170px;
  margin-bottom: 10px; }
  .price-container.small h4 {
    color: #6e94b9;
    font-size: 30px;
    font-weight: bold; }
    .price-container.small h4 small {
      font-size: 16px; }

.price-container.big {
  margin-bottom: 10px;
  height: 350px;
  padding-top: 40px; }
  .price-container.big h4 {
    font-size: 60px;
    font-weight: bold; }
    .price-container.big h4 small {
      font-size: 20px;
      font-weight: 300 !important; }
  .price-container.big p {
    font-size: 18px; }

.all-prices-container, .all-installs-container {
  margin-bottom: 70px; }

.platform-container {
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #394d60;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.25); }
  .platform-container h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px; }
  .platform-container .logo img {
    height: 100px; }
  .platform-container .cta {
    padding: 20px 0 0; }

.btn-success {
  background-color: #16a085 !important; }

.btn-info {
  background-color: #1abc9c !important; }

.notifier {
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #394d60;
  text-align: center;
  padding: 10px 0; }

.creation {
  padding: 0px 0 100px; }
  .creation input.full-input {
    width: 100%;
    color: #394d60;
    text-align: left;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-weight: 300;
    padding: 0 15px; }
  .creation textarea.full-textarea {
    padding: 5px 15px;
    text-align: left !important;
    width: 100%;
    color: #394d60;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-size: 14px;
    min-height: 60px; }
  .creation input#title {
    font-size: 30px;
    padding: 15px 15px; }
  .creation .entry {
    margin: 24px 0 24px; }
  .creation small {
    font-family: 'Lato', sans-serif;
    font-weight: 400; }

.platform-selector {
  padding-top: 5px; }
  .platform-selector .platform {
    color: #394d60;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    text-align: center;
    padding: 15px 5px 10px; }
    .platform-selector .platform small {
      font-weight: 400; }
    .platform-selector .platform p {
      margin-bottom: 0;
      margin-top: 5px; }
    .platform-selector .platform img {
      max-height: 50px;
      max-width: 100%; }
  .platform-selector .platform.selected {
    background-color: #f39c12;
    color: white;
    border: 1px solid #f39c12; }

.step {
  color: #394d60;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 20px 20px;
  text-align: center; }
  .step .step-title {
    font-size: 30px;
    padding: 15px 0;
    width: 100%;
    color: #394d60;
    text-align: center;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-weight: 300;
    margin-bottom: 10px; }
  .step .step-screenshot {
    display: inline; }
  .step .step-content {
    font-size: 20px;
    padding: 15px 0;
    width: 100%;
    color: #394d60;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-weight: 400;
    border: 0; }
  .step .screenshot {
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 10px;
    display: inline-block; }

.breadcrumb-row {
  margin-bottom: 48px; }

.breadcrump-desc {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-weight: 300;
  font-size: 12px;
  color: #111111; }
  .breadcrump-desc span {
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 10px; }

.breadcrumb-search {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 10px; }
  .breadcrumb-search #search {
    border: 0; }

.rounded {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 10px; }

.article {
  padding-bottom: 100px; }
  .article h1 {
    font-weight: 300;
    color: #394d60;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  .article h2 {
    font-weight: bold;
    color: #111111;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }
  .article p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px; }
  .article .screenie {
    margin: 20px 0; }
    .article .screenie img {
      max-width: 100%; }
  .article .article-step {
    margin-bottom: 50px; }
  .article .find-it-useful, .article .read-comments {
    width: 270px;
    text-transform: uppercase;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 10px;
    font-weight: 300;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 50px; }
    .article .find-it-useful img, .article .read-comments img {
      margin-right: 10px;
      width: 30px; }
  .article .find-it-useful.selected {
    background-color: #f39c12;
    color: white;
    font-weight: bold; }
    .article .find-it-useful.selected img {
      display: none; }

.platform-selector-guide {
  margin: 60px 0 40px;
  border-bottom: 1px solid #bbbbbb; }
  .platform-selector-guide div {
    font-weight: bold;
    color: #9d9d9d;
    text-transform: uppercase;
    border-bottom: none;
    border-left: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    display: inline-block;
    background-color: white;
    position: relative;
    bottom: -1px;
    padding: 5px 10px;
    font-size: 11px; }

.article-right {
  text-align: center;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 50px; }
  .article-right p {
    margin: 0; }

.profile-pic {
  margin-top: 20px; }
  .profile-pic img {
    max-width: 80px;
    border-radius: 100%;
    margin-bottom: 10px; }

.total-comments {
  height: 80px; }

.comment-ui-container {
  height: 80px; }
  .comment-ui-container img {
    max-height: 100%;
    max-width: 100px; }

.comment-ui-container-letters {
  height: 80px;
  line-height: 80px;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  top: -85px; }

.total-usefulness p {
  margin-top: -75px; }

.total-usefulness .comment-ui-container-letters {
  top: -80px; }

.margin-center {
  margin: 0 auto; }

.addon-avail {
  margin: 70px 0 80px;
  text-align: center; }
  .addon-avail .well {
    background-color: #ecf0f1; }
  .addon-avail h3 {
    font-weight: bold;
    font-size: 28px; }

.scrim {
  opacity: .28;
  background-color: black;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.comment-box {
  overflow: auto;
  z-index: 3;
  background-color: white;
  opacity: 1;
  box-shadow: 0 0 155px rgba(0, 0, 0, 0.45);
  height: 100%;
  min-width: 480px;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed; }
  .comment-box .notifier {
    padding-right: 10px; }
  .comment-box #cross {
    float: right; }
  .comment-box h2 {
    font-size: 24px;
    line-height: 30px; }

.comment-head {
  padding: 20px;
  box-shadow: 0px 5px 25px -9px rgba(0, 0, 0, 0.3);
  padding-bottom: 15px; }
  .comment-head .profile-pic {
    border-radius: 100%;
    width: 40px;
    margin-right: 10px; }
  .comment-head p {
    font-size: 11px; }

.new-comment-container {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  position: relative; }
  .new-comment-container .textarea {
    padding-bottom: 10px;
    width: 100%;
    padding-right: 75px; }
    .new-comment-container .textarea textarea {
      width: 100%;
      height: 100%;
      border: 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      color: #394d60; }
  .new-comment-container #post-comment-btn {
    width: 65px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px; }
    .new-comment-container #post-comment-btn .inner-btn {
      padding: 0; }
      .new-comment-container #post-comment-btn .inner-btn img {
        max-width: 100%; }

.comment-body {
  padding: 30px 20px 30px; }

.comment-entry {
  margin: 40px 0; }
  .comment-entry .profile {
    font-family: 'Lato', sans-serif;
    font-weight: 400; }
    .comment-entry .profile .upvote {
      cursor: pointer;
      padding: 7px !important;
      text-align: center;
      margin-right: 10px;
      border: 1px solid #d5d5d5;
      border-radius: 8px;
      padding: 10px;
      background-color: #efefef;
      display: inline-block;
      border: 0;
      font-weight: bold;
      color: #a5a5a5;
      font-size: 11px; }
      .comment-entry .profile .upvote img {
        margin-bottom: 5px;
        width: 20px;
        display: block;
        margin: 0 auto; }
    .comment-entry .profile .upvote:hover, .comment-entry .profile .upvote.selected {
      background-color: #f1c40f; }
    .comment-entry .profile span {
      font-style: italic;
      line-height: 20px;
      position: relative;
      top: -10px;
      font-size: 11px;
      color: #95a5a6; }
  .comment-entry p {
    margin-top: -8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #111111; }

.comment-col {
  padding-left: 30px;
  border-left: 1px solid #efefef; }

.comment-col:first-of-type {
  padding-left: 0;
  border-left: 0; }

.addon-popup-container {
  z-index: 3;
  opacity: 1;
  background-color: transparent;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 100px 0;
  overflow: auto; }

.add-popup {
  background-color: white;
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.25); }
  .add-popup .comment-head {
    padding: 30px;
    padding-bottom: 0; }
  .add-popup .addon-body {
    padding: 30px; }
    .add-popup .addon-body h4 {
      font-size: 16px; }
      .add-popup .addon-body h4 span {
        text-decoration: underline;
        color: #16a085; }
    .add-popup .addon-body p {
      font-size: 13px;
      font-weight: 300;
      line-height: 24px; }
    .add-popup .addon-body .addon-install-header {
      margin-top: 30px;
      border-bottom: 1px solid #d5d5d5; }
      .add-popup .addon-body .addon-install-header h4 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #394d60; }
    .add-popup .addon-body .addon-instruction-steps {
      padding-top: 15px;
      color: #111111; }
      .add-popup .addon-body .addon-instruction-steps h4 {
        margin-top: 30px;
        font-size: 16px;
        font-weight: bold; }
      .add-popup .addon-body .addon-instruction-steps p.lead {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px; }
      .add-popup .addon-body .addon-instruction-steps .btn {
        margin-top: 0; }
  .add-popup #cross {
    float: right;
    margin-right: 10px; }

.dropdown:hover > ul.dropdown-menu {
  display: block; }

button.navbar-toggle {
  color: #111111 !important; }

#navbar-mobile-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.1); }
  #navbar-mobile-btn img {
    max-width: 100%;
    max-height: 100%; }

.remove-step {
  margin-right: 10px; }

#guide-creation-2-form li.parsley-required {
  padding-bottom: 20px; }

.preview-box {
  text-align: center; }
  .preview-box h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #394d60;
    font-weight: bold; }
  .preview-box p {
    color: #394d60;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400; }
  .preview-box .preview-cta .btn:first-of-type {
    margin-right: 10px; }

#url-examples {
  z-index: 3;
  opacity: 1;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  background-color: white;
  overflow: hidden;
  width: 500px;
  box-shadow: 0 0 62px rgba(0, 0, 0, 0.45);
  text-align: center;
  padding: 20px 0 50px;
  border-radius: 8px; }
  #url-examples ul {
    list-style: none;
    padding: 0; }
  #url-examples li {
    margin-bottom: 20px; }
    #url-examples li p {
      margin: 0; }
    #url-examples li small {
      padding: 0 30px; }

.sign-in-box {
  z-index: 3;
  opacity: 1;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  background-color: white;
  overflow: hidden;
  width: 500px;
  box-shadow: 0 0 62px rgba(0, 0, 0, 0.45);
  text-align: center;
  padding: 20px 0 50px;
  border-radius: 8px; }
  .sign-in-box .sign-in-entry {
    padding: 30px 0 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #394d60; }
    .sign-in-box .sign-in-entry img {
      width: 350px; }
    .sign-in-box .sign-in-entry p {
      margin-bottom: 5px; }
    .sign-in-box .sign-in-entry #sign-in-with-google {
      padding: 0;
      cursor: pointer; }
    .sign-in-box .sign-in-entry .btn {
      margin-top: 0; }

.pointer {
  cursor: pointer; }

.link, .linkified {
  color: #16a085 !important;
  border-bottom: 1px dotted #1abc9c; }

input.full-input {
  height: 60px; }

#slow-sign-in {
  margin-top: 80px; }
  #slow-sign-in .creation {
    padding: 0 0 15px; }
  #slow-sign-in .checkbox {
    width: 100%; }
  #slow-sign-in .checkbox label {
    color: #394d60;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-size: 12px; }

.side-link {
  text-align: right;
  color: #919191; }
  .side-link span, .side-link a {
    border-bottom: 1px dotted #919191;
    font-size: 14px;
    font-weight: 300; }

.sign-in-logo {
  margin-top: 50px;
  text-align: center; }

#sign-in-seamlessly {
  margin-top: 10px;
  color: #394d60;
  text-align: center; }
  #sign-in-seamlessly h1 {
    font-size: 48px; }
  #sign-in-seamlessly #sign-in-slowly {
    display: block;
    text-align: center;
    color: #29b664;
    margin-top: 15px; }
    #sign-in-seamlessly #sign-in-slowly span {
      border-bottom: 1px dotted #29b664;
      font-size: 14px;
      font-weight: 400; }

.popup-scrim {
  overflow: auto;
  z-index: 3;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed; }
  .popup-scrim .popup-body {
    position: relative;
    padding: 30px;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.45); }
  .popup-scrim .cross-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
    margin-right: -9px;
    margin-top: -9px;
    cursor: pointer; }

.text-center {
  text-align: center; }

#sign-in-slowly-popup h2 {
  font-size: 36px; }

#sign-in-slowly-popup p {
  font-weight: 400;
  font-size: 16px; }

#sign-in-slowly-popup #sign-in-cta {
  margin-top: 30px; }

#try-it-now, #tip {
  padding-bottom: 100px; }
  #try-it-now h1, #tip h1 {
    font-size: 48px; }
  #try-it-now .shadow-box, #tip .shadow-box {
    margin-bottom: 40px;
    padding: 20px;
    color: #394d60; }
    #try-it-now .shadow-box img, #tip .shadow-box img {
      max-width: 100%; }
  #try-it-now h4, #tip h4 {
    font-size: 22px; }
  #try-it-now p.lead, #tip p.lead {
    font-size: 18px; }
  #try-it-now .site-box, #tip .site-box {
    border-radius: 15px;
    display: block;
    padding: 0; }
    #try-it-now .site-box img, #tip .site-box img {
      width: 100px;
      margin: 20px 20px 0 20px; }
    #try-it-now .site-box p, #tip .site-box p {
      padding: 20px 0 20px; }

#options .shadow-box {
  margin-bottom: 40px;
  padding: 20px;
  color: #394d60; }
  #options .shadow-box h4 {
    font-size: 22px; }
  #options .shadow-box p.lead {
    font-size: 18px; }
  #options .shadow-box img {
    margin-top: 10px;
    margin-bottom: 30px; }

.shadow-box {
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.25); }

#quotation, #invitee-formula {
  padding-bottom: 100px; }
  #quotation h4 strong, #invitee-formula h4 strong {
    color: #394d60; }
  #quotation .shadow-box, #invitee-formula .shadow-box {
    padding: 30px 40px 50px; }
  #quotation .price, #quotation .multiple-price, #invitee-formula .price, #invitee-formula .multiple-price {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 300;
    color: #394d60; }
    #quotation .price .figure, #quotation .price .sign, #quotation .multiple-price .figure, #quotation .multiple-price .sign, #invitee-formula .price .figure, #invitee-formula .price .sign, #invitee-formula .multiple-price .figure, #invitee-formula .multiple-price .sign {
      display: inline-block;
      font-size: 46px; }
      #quotation .price .figure small, #quotation .price .sign small, #quotation .multiple-price .figure small, #quotation .multiple-price .sign small, #invitee-formula .price .figure small, #invitee-formula .price .sign small, #invitee-formula .multiple-price .figure small, #invitee-formula .multiple-price .sign small {
        font-size: 16px;
        font-weight: 400; }
      #quotation .price .figure span.small, #quotation .price .sign span.small, #quotation .multiple-price .figure span.small, #quotation .multiple-price .sign span.small, #invitee-formula .price .figure span.small, #invitee-formula .price .sign span.small, #invitee-formula .multiple-price .figure span.small, #invitee-formula .multiple-price .sign span.small {
        display: block;
        font-size: 26px; }
      #quotation .price .figure .highlight, #quotation .price .sign .highlight, #quotation .multiple-price .figure .highlight, #quotation .multiple-price .sign .highlight, #invitee-formula .price .figure .highlight, #invitee-formula .price .sign .highlight, #invitee-formula .multiple-price .figure .highlight, #invitee-formula .multiple-price .sign .highlight {
        color: #16a085; }
    #quotation .price .sign, #quotation .multiple-price .sign, #invitee-formula .price .sign, #invitee-formula .multiple-price .sign {
      margin: 0 0px;
      position: relative;
      top: -20px; }
  #quotation .multiple-price, #invitee-formula .multiple-price {
    padding-top: 40px; }
    #quotation .multiple-price .figure, #invitee-formula .multiple-price .figure {
      font-size: 30px; }
      #quotation .multiple-price .figure small, #invitee-formula .multiple-price .figure small {
        font-size: 16px;
        font-weight: 400; }
      #quotation .multiple-price .figure span.small, #invitee-formula .multiple-price .figure span.small {
        display: block;
        font-size: 18px; }
  #quotation #select-payment-method, #invitee-formula #select-payment-method {
    margin-top: 50px;
    margin-bottom: 10px; }
  #quotation #saasy-form, #invitee-formula #saasy-form {
    display: inline-block; }
  #quotation .payment-buttons .btn:last-of-type, #invitee-formula .payment-buttons .btn:last-of-type {
    margin-left: 20px; }
  #quotation #pay-now, #quotation #saasy-pay-now, #invitee-formula #pay-now, #invitee-formula #saasy-pay-now {
    cursor: pointer; }
    #quotation #pay-now img, #quotation #saasy-pay-now img, #invitee-formula #pay-now img, #invitee-formula #saasy-pay-now img {
      width: 200px; }
  #quotation #saasy-pay-now, #invitee-formula #saasy-pay-now {
    cursor: pointer; }

#pricing-gom {
  padding-bottom: 100px; }
  #pricing-gom .price {
    margin-bottom: 20px; }
    #pricing-gom .price span {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-weight: 300;
      color: #394d60;
      font-size: 52px; }
    #pricing-gom .price small {
      font-size: 26px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-weight: 300;
      color: #394d60; }
  #pricing-gom .shadow-box {
    padding: 30px 40px 30px; }
    #pricing-gom .shadow-box img {
      width: 100px;
      max-width: 100%; }
    #pricing-gom .shadow-box p {
      margin-top: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-weight: 300;
      font-size: 16px; }
    #pricing-gom .shadow-box .btn {
      margin-top: 40px; }

.smaller-pricing .price small {
  font-size: 14px !important; }

.smaller-pricing .price span {
  font-size: 42px !important; }

#options {
  padding-bottom: 100px; }
  #options .shadow-box {
    margin-bottom: 40px;
    padding: 20px 60px;
    color: #394d60; }
  #options #account, #options .account {
    position: relative; }
    #options #account .status, #options .account .status {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 25px;
      left: 25px;
      border-radius: 100%; }
    #options #account .status-red, #options .account .status-red {
      background-color: #e74c3c; }
    #options #account .status-green, #options .account .status-green {
      background-color: #1abc9c; }
    #options #account .entry, #options .account .entry {
      text-align: left;
      margin: 40px 0px; }
      #options #account .entry small, #options .account .entry small {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-weight: 300; }
      #options #account .entry .input, #options .account .entry .input {
        border-radius: 8px;
        border: 1px solid #d5d5d5;
        min-height: 70px;
        line-height: 50px;
        padding: 10px 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-weight: bold;
        font-size: 18px; }

#addons #addons-desc {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 0 20px; }

#addons #search-addon {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
  height: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 26px;
  padding: 10px 20px;
  line-height: 50px;
  background-color: #f9f9f8; }

#addons #search-icon {
  position: relative;
  top: -60px;
  float: right;
  right: 15px; }

#addons .installed {
  text-align: left;
  margin-top: 60px; }
  #addons .installed #installed-title {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-weight: 300; }

#addons .installed-addon {
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #d5d5d5; }
  #addons .installed-addon .col-xs-2 {
    text-align: right; }
    #addons .installed-addon .col-xs-2 img {
      margin: 0px !important;
      position: relative;
      top: 19px; }
  #addons .installed-addon .addon-desc {
    display: inline-block;
    margin-bottom: 10px; }
  #addons .installed-addon h4 {
    margin-bottom: 0; }

.rounded-box {
  border-radius: 8px;
  border: 1px solid #d5d5d5; }
  .rounded-box .plan-img {
    max-width: 100%;
    max-height: 70px;
    margin-top: 95px; }

#pro-plan-box, #limited-plan-box {
  height: 340px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  #pro-plan-box h4, #limited-plan-box h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #111111;
    font-size: 32px;
    font-weight: 200;
    padding: 20px 0 10px; }
  #pro-plan-box p, #limited-plan-box p {
    margin: 0px 0 30px; }
  #pro-plan-box .impt strong, #limited-plan-box .impt strong {
    color: #c0392b; }

#support .box.btn {
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #d5d5d5; }
  #support .box.btn img {
    height: 100px;
    margin: 30px 0;
    max-width: 100%; }

#support .support-desc {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 0 20px; }

#continue-trial {
  padding-bottom: 100px; }

#make-payment p.lead {
  margin: 20px 0 20px; }

#make-payment ul {
  text-align: left;
  margin: 0px 0 20px; }

#make-payment .shadow-box {
  padding: 0 15px 5px; }
  #make-payment .shadow-box h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #111111;
    font-size: 24px;
    font-weight: 200;
    padding: 20px 0 10px; }
  #make-payment .shadow-box p {
    margin: 0px 0 30px; }

#make-payment .impt strong {
  color: #c0392b; }

#tip .tip-desc {
  margin: 30px 0; }

.add-addon-plus img {
  position: relative;
  top: 10px !important; }

#loading-activation {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-bottom: 100px; }
  #loading-activation span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 120px 3px 0;
    background: #394d60;
    border-radius: 50%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    animation: wave 2s infinite ease-in-out;
    -moz-animation: wave 2s infinite ease-in-out;
    -webkit-animation: wave 2s infinite ease-in-out; }
    #loading-activation span:nth-child(1) {
      animation-delay: 0s;
      -moz-animation-delay: 0s;
      -webkit-animation-delay: 0s; }
    #loading-activation span:nth-child(2) {
      animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      -webkit-animation-delay: 0.1s; }
    #loading-activation span:nth-child(3) {
      animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s; }
    #loading-activation span:nth-child(4) {
      animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s; }
    #loading-activation span:nth-child(5) {
      animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -webkit-animation-delay: 0.4s; }

@keyframes wave {
  0%, 60%, 100% {
    background: rgba(57, 77, 96, 0.25);
    transform: translateY(0);
    -moz-transform: translateY(0); }
  20% {
    background: rgba(57, 77, 96, 0.75);
    transform: translateY(13px);
    -moz-transform: translateY(13px); }
  40% {
    background: rgba(57, 77, 96, 0.75);
    transform: translateY(-13px);
    -moz-transform: translateY(-13px); } }

#checking-payment-animator {
  height: 150px; }
  #checking-payment-animator #loading-activation {
    background-color: transparent;
    margin-top: -50px; }

#indiegogo {
  text-align: center;
  padding-bottom: 100px;
  padding-bottom: 20px; }
  #indiegogo .card-img {
    max-width: 300px; }

#extend-trial {
  margin-left: 20px; }

#options-tabs {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #364a5d;
  font-size: 14px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: white;
  color: #364a5d;
  border: 1px solid #364a5d; }

#verification-email {
  max-width: 100%;
  width: 100px;
  margin: 30px 0; }

#supreme-btn-anchor .inner-btn {
  padding: 30px 40px;
  margin-top: -10px; }

#pro-only {
  display: inline-block;
  position: relative;
  background-color: #f39c12;
  color: white; }

.pricing-box {
  margin-bottom: 100px; }
  .pricing-box .vpn-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #394d60;
    font-weight: 200;
    font-size: 22px;
    line-height: 80px;
    text-align: center; }
  .pricing-box .vpn-title.large {
    font-size: 32px; }
  .pricing-box .discounts {
    color: #c0392b;
    font-weight: 400 !important;
    font-size: 18px;
    height: 30px; }
    .pricing-box .discounts p {
      line-height: 30px; }
  .pricing-box .price {
    color: #394d60;
    font-weight: 200;
    font-size: 48px; }
    .pricing-box .price .mo, .pricing-box .price span {
      color: #394d60;
      font-weight: 200;
      font-size: 48px;
      color: #394d60;
      font-size: 16px;
      font-weight: 300; }
    .pricing-box .price .digits {
      color: #394d60;
      font-weight: 200;
      font-size: 48px; }
  .pricing-box .price.active .digits {
    color: #16a085;
    font-weight: bold; }
  .pricing-box .payment-terms {
    margin: 30px 0 20px;
    height: 126px; }
    .pricing-box .payment-terms label {
      display: block;
      text-align: center;
      color: #757575;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-weight: 200; }
    .pricing-box .payment-terms select {
      background-color: #f6f6f6;
      border: 0px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      height: 35px;
      line-height: 35px; }
  .pricing-box .pricing-comparison {
    padding: 30px 20px 50px; }
  .pricing-box .features {
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 200; }
    .pricing-box .features p {
      height: 40px;
      line-height: 40px; }
    .pricing-box .features .black-tick {
      max-width: 50%;
      max-height: 50%; }

.vertical-align {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

html {
  height: 100%; }

body#full-length-body {
  min-height: 100%; }

.full-height {
  height: 100%; }

#jumbotron-container {
  position: relative; }
  #jumbotron-container .top-right-tooltip {
    position: absolute;
    right: 0;
    top: 0; }
    #jumbotron-container .top-right-tooltip img#arrow {
      padding-right: 20px;
      padding-top: 20px;
      width: 150px; }
    #jumbotron-container .top-right-tooltip img#large-gom-icon {
      position: absolute;
      top: 100px;
      right: 150px;
      width: 200px; }

#try-gom-now, #promote-gom-gold, #repair-container {
  text-align: center;
  width: 700px;
  height: 220px;
  margin-left: -350px;
  margin-top: -110px;
  left: 50%;
  top: 50%;
  position: absolute; }
  #try-gom-now h1, #promote-gom-gold h1, #repair-container h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 200;
    font-size: 50px;
    color: #394d60;
    letter-spacing: 3px; }
  #try-gom-now p.lead, #promote-gom-gold p.lead, #repair-container p.lead {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 26px;
    color: #394d60; }
  #try-gom-now #gom-small, #promote-gom-gold #gom-small, #repair-container #gom-small {
    width: 50px;
    margin: 0 10px; }

#promote-gom-gold {
  margin-top: -220px; }

.green {
  color: #16a085; }

.red {
  color: #c0392b; }

#pricing-intro {
  margin: 100px 0 100px; }
  #pricing-intro h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 200;
    font-size: 42px;
    color: #394d60;
    letter-spacing: 1px; }

#choose-plan h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #aaaaaa;
  font-size: 19px; }

#choose-plan .payment-plan-container {
  border-radius: 22px;
  background-color: #eeeeee;
  min-height: 110px;
  margin: 24px 0; }

#choose-plan .payment-plan-desc {
  padding-left: 30px; }
  #choose-plan .payment-plan-desc h2 {
    color: #394d60;
    font-size: 30px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 200; }
  #choose-plan .payment-plan-desc select {
    border: 0;
    background-color: white;
    width: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-weight: 200; }

#choose-plan .payment-plan-desc.focused h2 {
  font-size: 39px; }

#choose-plan .plan-btn-container {
  padding-top: 24px; }
  #choose-plan .plan-btn-container p.red {
    font-weight: 400;
    font-size: 13px;
    padding-top: 7px;
    margin-bottom: 0; }
  #choose-plan .plan-btn-container .btn {
    margin-top: 3px; }
  #choose-plan .plan-btn-container small {
    font-weight: 400;
    font-size: 12px;
    text-transform: lowercase; }

#choose-plan .plan-btn-container.focused {
  padding-top: 0px; }
  #choose-plan .plan-btn-container.focused .inner-btn {
    font-size: 26px; }

#choose-plan #invite-text {
  padding: 0 0;
  font-size: 14px; }

#choose-plan #invite-btn {
  background-color: #9b9b9b !important; }

#choose-plan #invite-ladda-btn {
  background-color: #adadad !important;
  color: white !important;
  padding: 5px 0 !important;
  line-height: 22px; }

#speed-booster-switch {
  height: 68px;
  padding-bottom: 30px; }
  #speed-booster-switch #switch {
    height: 30px; }
  #speed-booster-switch p#active-text {
    margin-bottom: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #394d60;
    font-weight: 200; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background-color: #1abc9c; }

.xlarge-switch .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on, .xlarge-switch .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off, .xlarge-switch .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 25px 40px;
  font-size: 32px;
  line-height: 1.33; }

.rounded-shadowed-container {
  box-shadow: 0 0 49px rgba(0, 0, 0, 0.25);
  border-radius: 8px; }

.flex {
  display: -ms-flexbox;
  display: flex; }

.flex-1 {
  -ms-flex: 1;
      flex: 1; }

#invitee-selection-container {
  margin-top: 100px; }
  #invitee-selection-container #users-img {
    width: 30px;
    height: auto; }
  #invitee-selection-container .invitee-selection-top-bar {
    height: 50px; }
  #invitee-selection-container .btn-group {
    border: 0 !important;
    box-shadow: none !important;
    margin: 0;
    width: 100%; }
  #invitee-selection-container .btn.multiselect {
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    background: none !important; }
  #invitee-selection-container .multiselect-container {
    max-height: calc(100vh - 260px);
    overflow-y: auto; }
  #invitee-selection-container .multiselect-selected-text, #invitee-selection-container .invitee-selection-top-bar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #394d60;
    display: inline-block; }

#invitee-quotation-container {
  margin-top: 30px; }
  #invitee-quotation-container h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 200;
    font-size: 30px;
    margin-top: 50px; }
  #invitee-quotation-container p.lead {
    color: #bcbcbc;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-size: 16px; }
  #invitee-quotation-container #invitee-quotation {
    margin-top: 30px;
    margin-bottom: 20px; }
  #invitee-quotation-container span.small {
    font-size: 16px !important; }
  #invitee-quotation-container #invitee-formula {
    padding-bottom: 40px !important; }
    #invitee-quotation-container #invitee-formula .figure {
      padding: 0 15px; }
  #invitee-quotation-container #invitee-cta {
    padding: 20px 40px; }

#payment-results {
  margin-top: 100px;
  text-align: center;
  color: #394d60; }
  #payment-results img {
    margin: 20px 0; }
  #payment-results p.lead {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 300;
    margin-top: 0; }
  #payment-results #fail {
    color: #c0392b; }
  #payment-results #success {
    color: #16a085; }

#pricing-section {
  margin-bottom: 100px; }
  #pricing-section .logo-bounce {
    -webkit-animation: bounce 2s infinite;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    left: 50%;
    margin-left: -25px;
    top: -40px;
    background-color: white;
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.18); }
    #pricing-section .logo-bounce img {
      width: 25px;
      margin: 0 auto; }
  #pricing-section .pricing-container {
    height: 480px;
    border-radius: 14px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.18);
    position: relative; }
    #pricing-section .pricing-container .pricing-header {
      padding: 30px 0; }
      #pricing-section .pricing-container .pricing-header p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #9b9b9b;
        font-size: 16px; }
      #pricing-section .pricing-container .pricing-header h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #394d60;
        font-size: 30px;
        font-weight: 200;
        margin: 6px 0 0; }
    #pricing-section .pricing-container .pricing-price {
      background-color: #f1c40f;
      padding: 10px 0;
      height: 130px; }
      #pricing-section .pricing-container .pricing-price #pricing-price {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: white;
        font-size: 48px;
        font-weight: bold; }
        #pricing-section .pricing-container .pricing-price #pricing-price small {
          color: white;
          font-size: 23px;
          letter-spacing: 2px;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-weight: 400; }
      #pricing-section .pricing-container .pricing-price .badge.white {
        margin: 5px 0;
        background-color: white;
        color: #f39c12; }
    #pricing-section .pricing-container .attr {
      margin: 40px 0 20px; }
      #pricing-section .pricing-container .attr p {
        color: #9b9b9b;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; }
    #pricing-section .pricing-container .cta {
      position: absolute;
      bottom: 0;
      width: 200px;
      left: 50%;
      margin-left: -100px;
      padding-bottom: 20px; }
      #pricing-section .pricing-container .cta select {
        background-color: #f6f6f6;
        border: 1px solid #e4e4e4;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        height: 35px;
        line-height: 35px; }
  #pricing-section .pricing-container.focused {
    box-shadow: 0px 6px 41px 0px rgba(0, 0, 0, 0.27); }
    #pricing-section .pricing-container.focused .pricing-price {
      background-color: #e3b434;
      height: 150px;
      margin-top: -10px; }

.gold {
  font-weight: bold;
  color: #e3b434; }

.btn-simple.btn-gray {
  background-color: #efefef !important;
  color: #7f8c8d !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px !important;
  padding: 0 0 1px 0;
  font-size: 15px !important;
  padding: 10px 30px; }

#repair-text {
  margin-top: 50px;
  position: relative;
  z-index: 2; }

#repair-animation {
  margin: 0 auto;
  background-color: white;
  width: 210px;
  text-align: center;
  margin-top: -25px; }
  #repair-animation span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 120px 3px 0;
    background: rgba(22, 160, 133, 0.25);
    border-radius: 50%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    animation: wave 2s infinite ease-in-out;
    -moz-animation: wave 2s infinite ease-in-out;
    -webkit-animation: wave 2s infinite ease-in-out; }
    #repair-animation span:nth-child(1) {
      animation-delay: 0s;
      -moz-animation-delay: 0s;
      -webkit-animation-delay: 0s; }
    #repair-animation span:nth-child(2) {
      animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      -webkit-animation-delay: 0.1s; }
    #repair-animation span:nth-child(3) {
      animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s; }
    #repair-animation span:nth-child(4) {
      animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s; }
    #repair-animation span:nth-child(5) {
      animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -webkit-animation-delay: 0.4s; }

@keyframes wave {
  0%, 60%, 100% {
    background: rgba(22, 160, 133, 0.25);
    transform: translateY(0);
    -moz-transform: translateY(0); }
  20% {
    background: rgba(22, 160, 133, 0.75);
    transform: translateY(13px);
    -moz-transform: translateY(13px); }
  40% {
    background: rgba(22, 160, 133, 0.75);
    transform: translateY(-13px);
    -moz-transform: translateY(-13px); } }

.btn {
  border: 0; }
