body{
    margin:0px auto;
    font-family: "Lucida Grande", arial, sans-serif;
    max-width:800px;
}
input[type="radio"]{
/*     margin:0px; */
}
.optionsContainer{
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
}
    h2.settingsTitle{
        font-weight: bold;
        font-size: 22px;
/*         padding-left: 15px; */
        margin-top: 0px;
    }
        .settingsTitle > img{
            height: 32px;
            width: 32px;
            position: relative;
            top: 8px;
        }
    .settingsTitle{
        padding-bottom:10px;
        margin-bottom:0px;
    }
    .settings-sub-title{
        font-weight: bold;
        position: relative;
        padding-bottom: 10px;
    }
        .settings-sub-title-content,
        .notif-switch-wrapper{
            display: inline-block;
        }
            .onoffswitch{
                top: 8px;
                margin-left: 10px;
            }
                .onoffswitch-switch{
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;                    
                }
    .settingsContainer{
        height: 560px;
        overflow-y: scroll;
        overflow-x: visible;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        width: 90%;
        padding: 5px 5%;
    }
        .settingsContainer::-webkit-scrollbar {
            -webkit-appearance: none;
            background-color: rgba(0,0,0, 0.1);
        }                    
        .settingsContainer::-webkit-scrollbar:vertical {
            width: 10px;
        }
        .settingsContainer::-webkit-scrollbar-thumb {
            border-radius: 2px;
            border: 2px solid rgba(0,0,0, 0.1);
            background-color: rgba(0, 0, 0, .5);
        }
        .settingHolder{
            margin:20px 0px;
            padding-bottom:10px;
        }
            .disabled{
                opacity: 0.4;
            }
            .settingHolder .title{
                font-weight: bold;
                font-size: 18px;
                padding: 6px 0px;
            }
                .settingHolder .sub-title{
                }
            .settingHolder .settingsInputHolder{
                font-size: 16px;
                padding: 10px 0px;
                white-space: nowrap;
            }
            .settingHolder .settingsInputHolder:lang(es),
            .settingHolder .settingsInputHolder:lang(fr){
	            white-space: normal;
            }
            .settingHolder > .subText{
                margin-bottom:15px;
            }
            .settingsTitle, .settingHolder, .settings-sub-title{
                border-bottom:1px solid rgba(0, 0, 0, .1);
            }
            .linkHolder{
                width:200px;
                margin:0 auto;
            }
            .settingsInputHolder > input{
                margin-bottom: 2px;
            }
            .settingsInputHolder > span{
                line-height: 1.2em;
            }

.notification{
    width:150px;
    height:50px;
    background:#27BA27;
    border-radius: 4px;
    color:white;
    line-height:50px;
    text-align:center;
    font-size:15px;
    position:fixed;
    top:5;
    right:5;
}
    #explanation,
    #request-status{
        text-align: left;
        width: auto;
        height: auto;
        font-size: 13px;
        max-width: 300px;
        line-height: 1.3;
        padding: 15px;
    }

    #request-status.fail{
        background: #F76262;
    }
    @media (max-width: 600px) {
        .optionsContainer{
            font-size: 14px;
            padding: 15px 20px 20px;
        }
        h2.settingsTitle{
            font-size: 20px;  
             
        }
        .settings-sub-title{
            font-size: 17px;
            margin-top: 8px;
            padding-bottom: 20px; 
        }
        .all-settings{
/*             padding-left: 15px; */
        }            
            .settingHolder{
                margin: 15px 0px;
            }
            .settingHolder .title{
                font-size: inherit;
            }
                .settingHolder > .sub-title{
                    
                }
                .settingsTitle > img{
                    height: 26px;
                    width: 26px;
                    top: 6px;
                }
            .settingHolder .settingsInputHolder{
                font-size: 13px;
                padding: 6px 0px;
            }
                .settingsInputHolder > span{
                    line-height: 1.5em;
                }
                .sub-title{
                    font-weight: bold;
                }
                .sub-setting-holder .settingsInputHolder {
                }
    }
.learn-more{
    color: #000;
}
/* Start Third Party Switch CSS */
.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
:lang(es) .onoffswitch{
	width: 86px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.2s ease-in 0s; -webkit-transition: margin 0.2s ease-in 0s;
    -o-transition: margin 0.2s ease-in 0s; transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 27px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
:lang(es) .onoffswitch-inner:before,
:lang(es) .onoffswitch-inner:after{
	font-size: 10px;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 6px;
    background-color: #27BA27; color: #FFFFFF;
}
:lang(es) .onoffswitch-inner:before{
	content: "PRENDER"
}
:lang(fr) .onoffswitch-inner:before{
	content: "SUR"
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #FA7373; color: #FFFFFF;
    text-align: right;
}

:lang(es) .onoffswitch-inner:after{
	content: "APAGAR";
}
:lang(fr) .onoffswitch-inner:after{
	content: "DE";
	padding-right: 12px;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 39px;
    -moz-transition: all 0.2s ease-in 0s; -webkit-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s; 
}
:lang(es) .onoffswitch-switch {
	right: 55px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* End Third Party Switch CSS */

.fa-question-circle:hover{
    cursor: pointer;
}
.btn-wrapper{
    margin: 6px 0px;
}
.settings-btn{
    background-image: none;
    background-color: #419ab1;
    color: #FFF;
    border: 0px;
    border-radius: 3px;
    padding: 3px 8px;
}
    .settings-btn:hover{
        background-color: #358094;
        cursor: pointer;
    }
    .settings-btn:focus{
        outline: 0px;
    }
#refresh-phone-contacts{
    padding: 6px 10px;
    font-size: 12px;
}
.remove-btn{
    position: absolute;
    top: 5px;
    right: 4px;
}
    .remove-btn:hover{
        opacity: 0.7;
        cursor: pointer;
    }
i.localized-string{
	font-style: normal;
}