body{
    margin: 0px;
    background-color: #eee;
    overflow:hidden;
}
    .device-notif-preview{
        position: relative;
        width: 356px;
        margin: 0px;
        padding: 0px;
        font-family: "Lucida Grande", Arial, sans-serif;
        background-color: #ffffff;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        color: #1A1A1A;
        display: none;
/*         border: 1px solid #ccc; */
/*         border-radius: 5px; */
    }
    .device-notif-preview:after{
        clear: both;
        content: ".";
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
    .device-notif-preview > div{
        float: left;
    }
        .device-notif-preview-img-wrapper{
        }
            .device-notif-preview-img-wrapper > img{
                background-color: #f5f5f5;
                width: 80px;
                height: auto;
                margin-bottom: 10px;
            }
        .device-notif-preview-content{
            margin-left: 15px;
            min-height: 96px;
            max-width: 245px;
            padding: 10px 10px 10px 0px;
            text-align: left;
/*             word-break: break-word; */
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: auto;   
        }
            .device-notif-preview-content > div{
                max-width: 226px;
            }
            .device-notif-app-name{
                margin-bottom: 10px;
                font-size: 14px;
            }
            .device-notif-text{
                font-size: 13px;  
                height: auto;
            }
    .device-notif-preview-button-holder{
        width: 100%;
    }
        .device-notif-option{
            position: relative;
            font-size: 13px;
            display: none;
            text-align: left;
            padding: 10px 15px 10px 45px;
            border-top: 1px solid #dddddd;
        }
            .device-notif-option:hover{
                cursor: pointer;
                background-color: #eee;
            }
        #block-this-app{
            display: block;
        }
            .device-notif-option-icon{
/*                 margin-right: 15px; */
                position: absolute;
                left: 15px;
                top: 50%;
                margin-top: -8px;
                font-size: 16px;
            }
                .device-notif-option-icon.device-notif-success{
                    color: #26CA26;
                }
                .device-notif-option-icon.device-notif-error{
                    color: red;
                }
/*
                .device-notif-option-icon.fa-minus-circle{
                    color: #E40C0C;
                }
*/
                .device-notif-option-icon.fa-archive{
                    color: #B17B1B;
                }
            .device-notif-option-app-name{
            }
